$color-button: #70cb0e;
$color-button-hover: #579b0e;
$color-heading: #000000;
$color-light: #ffffff;
$color-background-primary: #dff5b0;
$color-background-additional: #a7e1ff;
$color-slider-button: #ffe68e;
$color-link: #267bde;
$color-error-text: #333333;
$color-error-link: #59c3fb;

$color-gray: #9ca498;

$wrapper-width: 1160px;
