@font-face {
  font-family: SceneW01-Black;
  src: local("SceneW01-Black"), url(assets/fonts/12309.ttf);
}

@font-face {
  font-family: Bebas Neue;
  src: local("Bebas Neue"), url(assets/fonts/BebasNeue.ttf);
}
