%font-primary {
  font-family: "Roboto", Verdana, sans-serif;
}

%font-add {
  font-family: "SceneW01-Black", Verdana, sans-serif;
}

%font-error {
  font-family: "Bebas Neue", Verdana, sans-serif;
}

%transition {
  transition: all 0.3s ease-out;
}
