.icon {
  display: inline-block;
}

.icon-play {
  background-image: url("assets/icons/play.svg");
  width: 14px;
  height: 15px;
  margin-right: 6px;
}

.icon-left-arrow {
  background-image: url("../../assets/icons/left-arrow.svg");
  width: 14px;
  height: 30px;
  display: block;
}

.icon-right-arrow {
  background-image: url("../../assets/icons/right-arrow.svg");
  width: 14px;
  height: 30px;
  display: block;
}

.icon-donate {
  background-image: url("assets/icons/money.svg");
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
